In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
for col in application_df:
  print(f"{col}: {application_df[col].nunique()}")

APPLICATION_TYPE: 17
AFFILIATION: 6
CLASSIFICATION: 71
USE_CASE: 5
ORGANIZATION: 4
STATUS: 2
INCOME_AMT: 9
SPECIAL_CONSIDERATIONS: 2
ASK_AMT: 8747
IS_SUCCESSFUL: 2

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# NOTE: the cutoff value chosen here was different than the original model
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T8','T7','T10','T9','T13','T12','T2','T25','T14','T29','T15','T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count[classification_count != 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df['CLASSIFICATION'].unique())
to_keep = ['C1000', 'C2000', 'C1200', 'C3000', 'C2100']
for each in to_keep:
  classifications_to_replace.remove(each)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_dummies = pd.get_dummies(application_df[application_cat])
application_val = application_df.dtypes[application_df.dtypes == "int64"].index.tolist()
application_preprocessed = pd.concat([application_dummies, application_df[application_val]], axis = 1)
application_preprocessed.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,1,5000,1
1,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,1,108590,1
2,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,1,5000,0
3,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,1,6692,1
4,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,1,142590,1

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_preprocessed['IS_SUCCESSFUL'].values
X = application_preprocessed.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

C:\Users\Owner\AppData\Local\Temp\ipykernel_29636\185012117.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_preprocessed.drop(['IS_SUCCESSFUL'],1).values

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  9
hidden_nodes_layer2 = 4

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 369

 dense_1 (Dense)             (None, 4)                 40

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 414
Trainable params: 414
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6159 - accuracy: 0.6856
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5745 - accuracy: 0.7234
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5667 - accuracy: 0.7260
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5634 - accuracy: 0.7292
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5615 - accuracy: 0.7290
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5601 - accuracy: 0.7295
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5595 - accuracy: 0.7304
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5590 - accuracy: 0.7305
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5580 - accuracy: 0.7310
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5576 - accuracy: 0.7312
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5575 - accuracy: 0.7307
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5569 - accuracy: 0.7311
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5566 - accuracy: 0.7320
Epoch 14/100
804/804 [==============================] - 1s 959us/step - loss: 0.5564 - accuracy: 0.7306
Epoch 15/100
804/804 [==============================] - 1s 965us/step - loss: 0.5562 - accuracy: 0.7320
Epoch 16/100
804/804 [==============================] - 1s 970us/step - loss: 0.5555 - accuracy: 0.7323
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5556 - accuracy: 0.7319
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5554 - accuracy: 0.7310
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5551 - accuracy: 0.7324
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5546 - accuracy: 0.7329
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5545 - accuracy: 0.7329
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5542 - accuracy: 0.7331
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7325
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5536 - accuracy: 0.7329
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7331
Epoch 26/100
804/804 [==============================] - 1s 950us/step - loss: 0.5533 - accuracy: 0.7332
Epoch 27/100
804/804 [==============================] - 1s 975us/step - loss: 0.5532 - accuracy: 0.7329
Epoch 28/100
804/804 [==============================] - 1s 955us/step - loss: 0.5530 - accuracy: 0.7324
Epoch 29/100
804/804 [==============================] - 1s 952us/step - loss: 0.5530 - accuracy: 0.7329
Epoch 30/100
804/804 [==============================] - 1s 975us/step - loss: 0.5528 - accuracy: 0.7330
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5525 - accuracy: 0.7336
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5525 - accuracy: 0.7330
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7335
Epoch 34/100
804/804 [==============================] - 1s 985us/step - loss: 0.5520 - accuracy: 0.7332
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5520 - accuracy: 0.7329
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5517 - accuracy: 0.7322
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7331
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5517 - accuracy: 0.7332
Epoch 39/100
804/804 [==============================] - 1s 887us/step - loss: 0.5516 - accuracy: 0.7331
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7324
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7340
Epoch 42/100
804/804 [==============================] - 1s 962us/step - loss: 0.5515 - accuracy: 0.7331
Epoch 43/100
804/804 [==============================] - 1s 981us/step - loss: 0.5516 - accuracy: 0.7332
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7331
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7335
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7337
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5511 - accuracy: 0.7337
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7336
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7336
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7331
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7329
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7332
Epoch 53/100
804/804 [==============================] - 1s 983us/step - loss: 0.5507 - accuracy: 0.7340
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7330
Epoch 55/100
804/804 [==============================] - 1s 980us/step - loss: 0.5509 - accuracy: 0.7336
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7340
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7336
Epoch 58/100
804/804 [==============================] - 1s 987us/step - loss: 0.5502 - accuracy: 0.7334
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5503 - accuracy: 0.7331
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5503 - accuracy: 0.7343
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7337
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7340
Epoch 63/100
804/804 [==============================] - 1s 947us/step - loss: 0.5500 - accuracy: 0.7349
Epoch 64/100
804/804 [==============================] - 1s 964us/step - loss: 0.5503 - accuracy: 0.7345
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7342
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.7339
Epoch 67/100
804/804 [==============================] - 1s 966us/step - loss: 0.5500 - accuracy: 0.7345
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7340
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7333
Epoch 70/100
804/804 [==============================] - 1s 987us/step - loss: 0.5499 - accuracy: 0.7340
Epoch 71/100
804/804 [==============================] - 1s 961us/step - loss: 0.5498 - accuracy: 0.7344
Epoch 72/100
804/804 [==============================] - 1s 958us/step - loss: 0.5499 - accuracy: 0.7341
Epoch 73/100
804/804 [==============================] - 1s 967us/step - loss: 0.5499 - accuracy: 0.7339
Epoch 74/100
804/804 [==============================] - 1s 954us/step - loss: 0.5498 - accuracy: 0.7341
Epoch 75/100
804/804 [==============================] - 1s 978us/step - loss: 0.5498 - accuracy: 0.7342
Epoch 76/100
804/804 [==============================] - 1s 949us/step - loss: 0.5497 - accuracy: 0.7337
Epoch 77/100
804/804 [==============================] - 1s 972us/step - loss: 0.5500 - accuracy: 0.7332
Epoch 78/100
804/804 [==============================] - 1s 950us/step - loss: 0.5497 - accuracy: 0.7341
Epoch 79/100
804/804 [==============================] - 1s 969us/step - loss: 0.5497 - accuracy: 0.7335
Epoch 80/100
804/804 [==============================] - 1s 957us/step - loss: 0.5496 - accuracy: 0.7339
Epoch 81/100
804/804 [==============================] - 1s 949us/step - loss: 0.5494 - accuracy: 0.7334
Epoch 82/100
804/804 [==============================] - 1s 966us/step - loss: 0.5495 - accuracy: 0.7343
Epoch 83/100
804/804 [==============================] - 1s 986us/step - loss: 0.5495 - accuracy: 0.7343
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7338
Epoch 85/100
804/804 [==============================] - 1s 956us/step - loss: 0.5496 - accuracy: 0.7348
Epoch 86/100
804/804 [==============================] - 1s 967us/step - loss: 0.5496 - accuracy: 0.7353
Epoch 87/100
804/804 [==============================] - 1s 946us/step - loss: 0.5495 - accuracy: 0.7339
Epoch 88/100
804/804 [==============================] - 1s 996us/step - loss: 0.5494 - accuracy: 0.7345
Epoch 89/100
804/804 [==============================] - 1s 930us/step - loss: 0.5493 - accuracy: 0.7339
Epoch 90/100
804/804 [==============================] - 1s 949us/step - loss: 0.5492 - accuracy: 0.7350
Epoch 91/100
804/804 [==============================] - 1s 925us/step - loss: 0.5494 - accuracy: 0.7345
Epoch 92/100
804/804 [==============================] - 1s 935us/step - loss: 0.5493 - accuracy: 0.7351
Epoch 93/100
804/804 [==============================] - 1s 985us/step - loss: 0.5490 - accuracy: 0.7331
Epoch 94/100
804/804 [==============================] - 1s 939us/step - loss: 0.5491 - accuracy: 0.7341
Epoch 95/100
804/804 [==============================] - 1s 967us/step - loss: 0.5495 - accuracy: 0.7346
Epoch 96/100
804/804 [==============================] - 1s 905us/step - loss: 0.5490 - accuracy: 0.7349
Epoch 97/100
804/804 [==============================] - 1s 857us/step - loss: 0.5491 - accuracy: 0.7350
Epoch 98/100
804/804 [==============================] - 1s 855us/step - loss: 0.5491 - accuracy: 0.7347
Epoch 99/100
804/804 [==============================] - 1s 911us/step - loss: 0.5493 - accuracy: 0.7340
Epoch 100/100
804/804 [==============================] - 1s 868us/step - loss: 0.5492 - accuracy: 0.7349

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5571 - accuracy: 0.7285 - 267ms/epoch - 997us/step
Loss: 0.5571019053459167, Accuracy: 0.7285131216049194

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hidden_nodes_layer1_2 =  7
hidden_nodes_layer2_2 = 4
hidden_nodes_layer3_2 = 4

nn_2 = tf.keras.models.Sequential()

# First hidden layer
nn_2.add(tf.keras.layers.Dense(units=hidden_nodes_layer1_2, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_2.add(tf.keras.layers.Dense(units=hidden_nodes_layer2_2, activation="relu"))

# Third hidden layer
nn_2.add(tf.keras.layers.Dense(units=hidden_nodes_layer3_2, activation="relu"))

# Output layer
nn_2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 7)                 287

 dense_4 (Dense)             (None, 4)                 32

 dense_5 (Dense)             (None, 4)                 20

 dense_6 (Dense)             (None, 1)                 5

=================================================================
Total params: 344
Trainable params: 344
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn_2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn_2.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 931us/step - loss: 0.6448 - accuracy: 0.6812
Epoch 2/100
804/804 [==============================] - 1s 915us/step - loss: 0.5833 - accuracy: 0.7233
Epoch 3/100
804/804 [==============================] - 1s 935us/step - loss: 0.5701 - accuracy: 0.7270
Epoch 4/100
804/804 [==============================] - 1s 939us/step - loss: 0.5653 - accuracy: 0.7282
Epoch 5/100
804/804 [==============================] - 1s 910us/step - loss: 0.5626 - accuracy: 0.7291
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5607 - accuracy: 0.7293
Epoch 7/100
804/804 [==============================] - 1s 929us/step - loss: 0.5593 - accuracy: 0.7301
Epoch 8/100
804/804 [==============================] - 1s 963us/step - loss: 0.5584 - accuracy: 0.7306
Epoch 9/100
804/804 [==============================] - 1s 922us/step - loss: 0.5571 - accuracy: 0.7312
Epoch 10/100
804/804 [==============================] - 1s 892us/step - loss: 0.5566 - accuracy: 0.7307
Epoch 11/100
804/804 [==============================] - 1s 946us/step - loss: 0.5560 - accuracy: 0.7304
Epoch 12/100
804/804 [==============================] - 1s 927us/step - loss: 0.5558 - accuracy: 0.7307
Epoch 13/100
804/804 [==============================] - 1s 919us/step - loss: 0.5551 - accuracy: 0.7314
Epoch 14/100
804/804 [==============================] - 1s 922us/step - loss: 0.5546 - accuracy: 0.7325
Epoch 15/100
804/804 [==============================] - 1s 896us/step - loss: 0.5545 - accuracy: 0.7320
Epoch 16/100
804/804 [==============================] - 1s 916us/step - loss: 0.5541 - accuracy: 0.7313
Epoch 17/100
804/804 [==============================] - 1s 981us/step - loss: 0.5541 - accuracy: 0.7314
Epoch 18/100
804/804 [==============================] - 1s 940us/step - loss: 0.5541 - accuracy: 0.7310
Epoch 19/100
804/804 [==============================] - 1s 904us/step - loss: 0.5534 - accuracy: 0.7319
Epoch 20/100
804/804 [==============================] - 1s 939us/step - loss: 0.5536 - accuracy: 0.7323
Epoch 21/100
804/804 [==============================] - 1s 940us/step - loss: 0.5531 - accuracy: 0.7318
Epoch 22/100
804/804 [==============================] - 1s 904us/step - loss: 0.5527 - accuracy: 0.7321
Epoch 23/100
804/804 [==============================] - 1s 944us/step - loss: 0.5528 - accuracy: 0.7315
Epoch 24/100
804/804 [==============================] - 1s 932us/step - loss: 0.5527 - accuracy: 0.7328
Epoch 25/100
804/804 [==============================] - 1s 914us/step - loss: 0.5520 - accuracy: 0.7315
Epoch 26/100
804/804 [==============================] - 1s 945us/step - loss: 0.5520 - accuracy: 0.7329
Epoch 27/100
804/804 [==============================] - 1s 924us/step - loss: 0.5517 - accuracy: 0.7321
Epoch 28/100
804/804 [==============================] - 1s 889us/step - loss: 0.5517 - accuracy: 0.7321
Epoch 29/100
804/804 [==============================] - 1s 924us/step - loss: 0.5518 - accuracy: 0.7322
Epoch 30/100
804/804 [==============================] - 1s 885us/step - loss: 0.5517 - accuracy: 0.7325
Epoch 31/100
804/804 [==============================] - 1s 940us/step - loss: 0.5516 - accuracy: 0.7331
Epoch 32/100
804/804 [==============================] - 1s 927us/step - loss: 0.5515 - accuracy: 0.7324
Epoch 33/100
804/804 [==============================] - 1s 920us/step - loss: 0.5511 - accuracy: 0.7325
Epoch 34/100
804/804 [==============================] - 1s 915us/step - loss: 0.5511 - accuracy: 0.7324
Epoch 35/100
804/804 [==============================] - 1s 914us/step - loss: 0.5511 - accuracy: 0.7324
Epoch 36/100
804/804 [==============================] - 1s 909us/step - loss: 0.5512 - accuracy: 0.7321
Epoch 37/100
804/804 [==============================] - 1s 903us/step - loss: 0.5511 - accuracy: 0.7319
Epoch 38/100
804/804 [==============================] - 1s 915us/step - loss: 0.5508 - accuracy: 0.7325
Epoch 39/100
804/804 [==============================] - 1s 935us/step - loss: 0.5508 - accuracy: 0.7325
Epoch 40/100
804/804 [==============================] - 1s 912us/step - loss: 0.5505 - accuracy: 0.7323
Epoch 41/100
804/804 [==============================] - 1s 973us/step - loss: 0.5511 - accuracy: 0.7330
Epoch 42/100
804/804 [==============================] - 1s 909us/step - loss: 0.5506 - accuracy: 0.7327
Epoch 43/100
804/804 [==============================] - 1s 922us/step - loss: 0.5504 - accuracy: 0.7336
Epoch 44/100
804/804 [==============================] - 1s 911us/step - loss: 0.5509 - accuracy: 0.7335
Epoch 45/100
804/804 [==============================] - 1s 912us/step - loss: 0.5505 - accuracy: 0.7336
Epoch 46/100
804/804 [==============================] - 1s 914us/step - loss: 0.5505 - accuracy: 0.7330
Epoch 47/100
804/804 [==============================] - 1s 899us/step - loss: 0.5505 - accuracy: 0.7332
Epoch 48/100
804/804 [==============================] - 1s 902us/step - loss: 0.5503 - accuracy: 0.7334
Epoch 49/100
804/804 [==============================] - 1s 905us/step - loss: 0.5505 - accuracy: 0.7331
Epoch 50/100
804/804 [==============================] - 1s 902us/step - loss: 0.5504 - accuracy: 0.7324
Epoch 51/100
804/804 [==============================] - 1s 906us/step - loss: 0.5504 - accuracy: 0.7335
Epoch 52/100
804/804 [==============================] - 1s 894us/step - loss: 0.5503 - accuracy: 0.7331
Epoch 53/100
804/804 [==============================] - 1s 909us/step - loss: 0.5501 - accuracy: 0.7328
Epoch 54/100
804/804 [==============================] - 1s 882us/step - loss: 0.5504 - accuracy: 0.7333
Epoch 55/100
804/804 [==============================] - 1s 916us/step - loss: 0.5502 - accuracy: 0.7328
Epoch 56/100
804/804 [==============================] - 1s 939us/step - loss: 0.5502 - accuracy: 0.7323
Epoch 57/100
804/804 [==============================] - 1s 902us/step - loss: 0.5499 - accuracy: 0.7320
Epoch 58/100
804/804 [==============================] - 1s 934us/step - loss: 0.5497 - accuracy: 0.7332
Epoch 59/100
804/804 [==============================] - 1s 917us/step - loss: 0.5501 - accuracy: 0.7329
Epoch 60/100
804/804 [==============================] - 1s 899us/step - loss: 0.5499 - accuracy: 0.7331
Epoch 61/100
804/804 [==============================] - 1s 959us/step - loss: 0.5500 - accuracy: 0.7331
Epoch 62/100
804/804 [==============================] - 1s 973us/step - loss: 0.5500 - accuracy: 0.7338
Epoch 63/100
804/804 [==============================] - 1s 974us/step - loss: 0.5498 - accuracy: 0.7329
Epoch 64/100
804/804 [==============================] - 1s 930us/step - loss: 0.5498 - accuracy: 0.7342
Epoch 65/100
804/804 [==============================] - 1s 923us/step - loss: 0.5499 - accuracy: 0.7333
Epoch 66/100
804/804 [==============================] - 1s 879us/step - loss: 0.5494 - accuracy: 0.7339
Epoch 67/100
804/804 [==============================] - 1s 927us/step - loss: 0.5499 - accuracy: 0.7334
Epoch 68/100
804/804 [==============================] - 1s 886us/step - loss: 0.5497 - accuracy: 0.7341
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7325
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7328
Epoch 71/100
804/804 [==============================] - 1s 810us/step - loss: 0.5498 - accuracy: 0.7333
Epoch 72/100
804/804 [==============================] - 1s 858us/step - loss: 0.5494 - accuracy: 0.7331
Epoch 73/100
804/804 [==============================] - 1s 864us/step - loss: 0.5493 - accuracy: 0.7336
Epoch 74/100
804/804 [==============================] - 1s 846us/step - loss: 0.5495 - accuracy: 0.7338
Epoch 75/100
804/804 [==============================] - 1s 865us/step - loss: 0.5495 - accuracy: 0.7328
Epoch 76/100
804/804 [==============================] - 1s 804us/step - loss: 0.5492 - accuracy: 0.7332
Epoch 77/100
804/804 [==============================] - 1s 803us/step - loss: 0.5495 - accuracy: 0.7332
Epoch 78/100
804/804 [==============================] - 1s 801us/step - loss: 0.5493 - accuracy: 0.7340
Epoch 79/100
804/804 [==============================] - 1s 853us/step - loss: 0.5495 - accuracy: 0.7339
Epoch 80/100
804/804 [==============================] - 1s 878us/step - loss: 0.5490 - accuracy: 0.7329
Epoch 81/100
804/804 [==============================] - 1s 872us/step - loss: 0.5492 - accuracy: 0.7332
Epoch 82/100
804/804 [==============================] - 1s 785us/step - loss: 0.5491 - accuracy: 0.7339
Epoch 83/100
804/804 [==============================] - 1s 816us/step - loss: 0.5489 - accuracy: 0.7328
Epoch 84/100
804/804 [==============================] - 1s 805us/step - loss: 0.5489 - accuracy: 0.7333
Epoch 85/100
804/804 [==============================] - 1s 851us/step - loss: 0.5490 - accuracy: 0.7338
Epoch 86/100
804/804 [==============================] - 1s 855us/step - loss: 0.5491 - accuracy: 0.7330
Epoch 87/100
804/804 [==============================] - 1s 891us/step - loss: 0.5487 - accuracy: 0.7343
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7332
Epoch 89/100
804/804 [==============================] - 1s 890us/step - loss: 0.5487 - accuracy: 0.7332
Epoch 90/100
804/804 [==============================] - 1s 880us/step - loss: 0.5486 - accuracy: 0.7343
Epoch 91/100
804/804 [==============================] - 1s 865us/step - loss: 0.5488 - accuracy: 0.7338
Epoch 92/100
804/804 [==============================] - 1s 858us/step - loss: 0.5485 - accuracy: 0.7339
Epoch 93/100
804/804 [==============================] - 1s 848us/step - loss: 0.5485 - accuracy: 0.7330
Epoch 94/100
804/804 [==============================] - 1s 808us/step - loss: 0.5487 - accuracy: 0.7336
Epoch 95/100
804/804 [==============================] - 1s 831us/step - loss: 0.5486 - accuracy: 0.7330
Epoch 96/100
804/804 [==============================] - 1s 807us/step - loss: 0.5487 - accuracy: 0.7328
Epoch 97/100
804/804 [==============================] - 1s 799us/step - loss: 0.5485 - accuracy: 0.7329
Epoch 98/100
804/804 [==============================] - 1s 825us/step - loss: 0.5487 - accuracy: 0.7333
Epoch 99/100
804/804 [==============================] - 1s 799us/step - loss: 0.5486 - accuracy: 0.7339
Epoch 100/100
804/804 [==============================] - 1s 818us/step - loss: 0.5486 - accuracy: 0.7320

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5541 - accuracy: 0.7312 - 234ms/epoch - 874us/step
Loss: 0.5540921688079834, Accuracy: 0.731195330619812

In [20]:
application_preprocessed.corr()['IS_SUCCESSFUL'].sort_values()

AFFILIATION_CompanySponsored   -0.369379
ORGANIZATION_Association       -0.179561
CLASSIFICATION_C2100           -0.147895
APPLICATION_TYPE_T19           -0.123303
APPLICATION_TYPE_T4            -0.098692
CLASSIFICATION_C1200           -0.056621
INCOME_AMT_0                   -0.052509
USE_CASE_CommunityServ         -0.039122
INCOME_AMT_50M+                -0.024838
CLASSIFICATION_C3000           -0.023182
INCOME_AMT_1M-5M               -0.022535
INCOME_AMT_10M-50M             -0.021575
USE_CASE_Heathcare             -0.013222
USE_CASE_ProductDev            -0.011841
ASK_AMT                        -0.010861
INCOME_AMT_5M-10M              -0.009171
SPECIAL_CONSIDERATIONS_N       -0.005469
STATUS                         -0.001636
APPLICATION_TYPE_T3            -0.000953
CLASSIFICATION_C2000           -0.000434
AFFILIATION_Family/Parent       0.002608
AFFILIATION_Regional            0.003238
AFFILIATION_National            0.004581
SPECIAL_CONSIDERATIONS_Y        0.005469
USE_CASE_Other                  0.008765
AFFILIATION_Other               0.010121
ORGANIZATION_Corporation        0.016690
USE_CASE_Preservation           0.024145
INCOME_AMT_25000-99999          0.026239
INCOME_AMT_100000-499999        0.030542
INCOME_AMT_10000-24999          0.036937
APPLICATION_TYPE_Other          0.045771
ORGANIZATION_Co-operative       0.053520
CLASSIFICATION_C1000            0.062589
INCOME_AMT_1-9999               0.067058
APPLICATION_TYPE_T6             0.079817
APPLICATION_TYPE_T5             0.088575
CLASSIFICATION_Other            0.111202
ORGANIZATION_Trust              0.162164
AFFILIATION_Independent         0.368322
IS_SUCCESSFUL                   1.000000
Name: IS_SUCCESSFUL, dtype: float64

In [21]:
application_preprocessed['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [22]:
application_preprocessed_2 = application_preprocessed.drop(['STATUS'], axis = 1)
application_preprocessed_2.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT,IS_SUCCESSFUL
0,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,5000,1
1,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,108590,1
2,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,1,0,5000,0
3,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,6692,1
4,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,142590,1

In [23]:
# Split our preprocessed data into our features and target arrays
y_2 = application_preprocessed_2['IS_SUCCESSFUL'].values
X_2 = application_preprocessed_2.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_2, y_2, random_state=1)

C:\Users\Owner\AppData\Local\Temp\ipykernel_29636\1009175802.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X_2 = application_preprocessed_2.drop(['IS_SUCCESSFUL'],1).values

In [24]:
# Create a StandardScaler instances
scaler_2 = StandardScaler()

# Fit the StandardScaler
X_scaler_2 = scaler.fit(X_train_2)

# Scale the data
X_train_scaled_2 = X_scaler_2.transform(X_train_2)
X_test_scaled_2 = X_scaler_2.transform(X_test_2)

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hidden_nodes_layer1_2 =  7
hidden_nodes_layer2_2 = 4
hidden_nodes_layer3_2 = 4

nn_3 = tf.keras.models.Sequential()

# First hidden layer
nn_3.add(tf.keras.layers.Dense(units=hidden_nodes_layer1_2, input_dim=number_input_features-1, activation="relu"))

# Second hidden layer
nn_3.add(tf.keras.layers.Dense(units=hidden_nodes_layer2_2, activation="relu"))

# Third hidden layer
nn_3.add(tf.keras.layers.Dense(units=hidden_nodes_layer3_2, activation="relu"))

# Output layer
nn_3.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_3.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 7)                 280

 dense_8 (Dense)             (None, 4)                 32

 dense_9 (Dense)             (None, 4)                 20

 dense_10 (Dense)            (None, 1)                 5

=================================================================
Total params: 337
Trainable params: 337
Non-trainable params: 0
_________________________________________________________________

In [26]:
# Compile the model
nn_3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
# Train the model
fit_model = nn_3.fit(X_train_scaled_2,y_train_2,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 815us/step - loss: 0.6448 - accuracy: 0.6333
Epoch 2/100
804/804 [==============================] - 1s 821us/step - loss: 0.5774 - accuracy: 0.7217
Epoch 3/100
804/804 [==============================] - 1s 849us/step - loss: 0.5671 - accuracy: 0.7266
Epoch 4/100
804/804 [==============================] - 1s 813us/step - loss: 0.5625 - accuracy: 0.7266
Epoch 5/100
804/804 [==============================] - 1s 801us/step - loss: 0.5596 - accuracy: 0.7281
Epoch 6/100
804/804 [==============================] - 1s 817us/step - loss: 0.5578 - accuracy: 0.7303
Epoch 7/100
804/804 [==============================] - 1s 820us/step - loss: 0.5566 - accuracy: 0.7312
Epoch 8/100
804/804 [==============================] - 1s 911us/step - loss: 0.5556 - accuracy: 0.7313
Epoch 9/100
804/804 [==============================] - 1s 892us/step - loss: 0.5551 - accuracy: 0.7310
Epoch 10/100
804/804 [==============================] - 1s 988us/step - loss: 0.5545 - accuracy: 0.7311
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5541 - accuracy: 0.7310
Epoch 12/100
804/804 [==============================] - 1s 967us/step - loss: 0.5537 - accuracy: 0.7306
Epoch 13/100
804/804 [==============================] - 1s 922us/step - loss: 0.5535 - accuracy: 0.7315
Epoch 14/100
804/804 [==============================] - 1s 892us/step - loss: 0.5534 - accuracy: 0.7309
Epoch 15/100
804/804 [==============================] - 1s 897us/step - loss: 0.5530 - accuracy: 0.7308
Epoch 16/100
804/804 [==============================] - 1s 927us/step - loss: 0.5530 - accuracy: 0.7305
Epoch 17/100
804/804 [==============================] - 1s 784us/step - loss: 0.5529 - accuracy: 0.7305
Epoch 18/100
804/804 [==============================] - 1s 878us/step - loss: 0.5528 - accuracy: 0.7311
Epoch 19/100
804/804 [==============================] - 1s 863us/step - loss: 0.5526 - accuracy: 0.7313
Epoch 20/100
804/804 [==============================] - 1s 843us/step - loss: 0.5522 - accuracy: 0.7310
Epoch 21/100
804/804 [==============================] - 1s 826us/step - loss: 0.5521 - accuracy: 0.7310
Epoch 22/100
804/804 [==============================] - 1s 859us/step - loss: 0.5523 - accuracy: 0.7311
Epoch 23/100
804/804 [==============================] - 1s 901us/step - loss: 0.5517 - accuracy: 0.7314
Epoch 24/100
804/804 [==============================] - 1s 938us/step - loss: 0.5520 - accuracy: 0.7307
Epoch 25/100
804/804 [==============================] - 1s 886us/step - loss: 0.5515 - accuracy: 0.7310
Epoch 26/100
804/804 [==============================] - 1s 806us/step - loss: 0.5517 - accuracy: 0.7312
Epoch 27/100
804/804 [==============================] - 1s 886us/step - loss: 0.5512 - accuracy: 0.7304
Epoch 28/100
804/804 [==============================] - 1s 861us/step - loss: 0.5516 - accuracy: 0.7313
Epoch 29/100
804/804 [==============================] - 1s 799us/step - loss: 0.5513 - accuracy: 0.7310
Epoch 30/100
804/804 [==============================] - 1s 897us/step - loss: 0.5512 - accuracy: 0.7311
Epoch 31/100
804/804 [==============================] - 1s 880us/step - loss: 0.5512 - accuracy: 0.7305
Epoch 32/100
804/804 [==============================] - 1s 843us/step - loss: 0.5514 - accuracy: 0.7310
Epoch 33/100
804/804 [==============================] - 1s 805us/step - loss: 0.5512 - accuracy: 0.7313
Epoch 34/100
804/804 [==============================] - 1s 934us/step - loss: 0.5508 - accuracy: 0.7315
Epoch 35/100
804/804 [==============================] - 1s 855us/step - loss: 0.5507 - accuracy: 0.7312
Epoch 36/100
804/804 [==============================] - 1s 916us/step - loss: 0.5507 - accuracy: 0.7317
Epoch 37/100
804/804 [==============================] - 1s 783us/step - loss: 0.5507 - accuracy: 0.7313
Epoch 38/100
804/804 [==============================] - 1s 758us/step - loss: 0.5505 - accuracy: 0.7314
Epoch 39/100
804/804 [==============================] - 1s 763us/step - loss: 0.5505 - accuracy: 0.7315
Epoch 40/100
804/804 [==============================] - 1s 833us/step - loss: 0.5503 - accuracy: 0.7312
Epoch 41/100
804/804 [==============================] - 1s 782us/step - loss: 0.5505 - accuracy: 0.7316
Epoch 42/100
804/804 [==============================] - 1s 755us/step - loss: 0.5500 - accuracy: 0.7317
Epoch 43/100
804/804 [==============================] - 1s 768us/step - loss: 0.5503 - accuracy: 0.7314
Epoch 44/100
804/804 [==============================] - 1s 806us/step - loss: 0.5504 - accuracy: 0.7313
Epoch 45/100
804/804 [==============================] - 1s 773us/step - loss: 0.5503 - accuracy: 0.7318
Epoch 46/100
804/804 [==============================] - 1s 826us/step - loss: 0.5497 - accuracy: 0.7315
Epoch 47/100
804/804 [==============================] - 1s 850us/step - loss: 0.5500 - accuracy: 0.7314
Epoch 48/100
804/804 [==============================] - 1s 870us/step - loss: 0.5501 - accuracy: 0.7313
Epoch 49/100
804/804 [==============================] - 1s 942us/step - loss: 0.5500 - accuracy: 0.7313
Epoch 50/100
804/804 [==============================] - 1s 950us/step - loss: 0.5501 - accuracy: 0.7314
Epoch 51/100
804/804 [==============================] - 1s 854us/step - loss: 0.5499 - accuracy: 0.7318
Epoch 52/100
804/804 [==============================] - 1s 865us/step - loss: 0.5498 - accuracy: 0.7316
Epoch 53/100
804/804 [==============================] - 1s 835us/step - loss: 0.5496 - accuracy: 0.7314
Epoch 54/100
804/804 [==============================] - 1s 849us/step - loss: 0.5498 - accuracy: 0.7315
Epoch 55/100
804/804 [==============================] - 1s 827us/step - loss: 0.5493 - accuracy: 0.7317
Epoch 56/100
804/804 [==============================] - 1s 859us/step - loss: 0.5497 - accuracy: 0.7315
Epoch 57/100
804/804 [==============================] - 1s 838us/step - loss: 0.5494 - accuracy: 0.7313
Epoch 58/100
804/804 [==============================] - 1s 886us/step - loss: 0.5497 - accuracy: 0.7313
Epoch 59/100
804/804 [==============================] - 1s 869us/step - loss: 0.5492 - accuracy: 0.7312
Epoch 60/100
804/804 [==============================] - 1s 805us/step - loss: 0.5495 - accuracy: 0.7315
Epoch 61/100
804/804 [==============================] - 1s 810us/step - loss: 0.5495 - accuracy: 0.7315
Epoch 62/100
804/804 [==============================] - 1s 870us/step - loss: 0.5493 - accuracy: 0.7318
Epoch 63/100
804/804 [==============================] - 1s 856us/step - loss: 0.5491 - accuracy: 0.7310
Epoch 64/100
804/804 [==============================] - 1s 892us/step - loss: 0.5497 - accuracy: 0.7312
Epoch 65/100
804/804 [==============================] - 1s 892us/step - loss: 0.5495 - accuracy: 0.7320
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7315
Epoch 67/100
804/804 [==============================] - 1s 975us/step - loss: 0.5495 - accuracy: 0.7315
Epoch 68/100
804/804 [==============================] - 1s 915us/step - loss: 0.5493 - accuracy: 0.7311
Epoch 69/100
804/804 [==============================] - 1s 946us/step - loss: 0.5491 - accuracy: 0.7315
Epoch 70/100
804/804 [==============================] - 1s 899us/step - loss: 0.5491 - accuracy: 0.7312
Epoch 71/100
804/804 [==============================] - 1s 887us/step - loss: 0.5493 - accuracy: 0.7315
Epoch 72/100
804/804 [==============================] - 1s 873us/step - loss: 0.5492 - accuracy: 0.7308
Epoch 73/100
804/804 [==============================] - 1s 845us/step - loss: 0.5495 - accuracy: 0.7312
Epoch 74/100
804/804 [==============================] - 1s 887us/step - loss: 0.5495 - accuracy: 0.7313
Epoch 75/100
804/804 [==============================] - 1s 934us/step - loss: 0.5493 - accuracy: 0.7316
Epoch 76/100
804/804 [==============================] - 1s 915us/step - loss: 0.5489 - accuracy: 0.7318
Epoch 77/100
804/804 [==============================] - 1s 889us/step - loss: 0.5488 - accuracy: 0.7314
Epoch 78/100
804/804 [==============================] - 1s 947us/step - loss: 0.5488 - accuracy: 0.7318
Epoch 79/100
804/804 [==============================] - 1s 843us/step - loss: 0.5490 - accuracy: 0.7316
Epoch 80/100
804/804 [==============================] - 1s 944us/step - loss: 0.5490 - accuracy: 0.7316
Epoch 81/100
804/804 [==============================] - 1s 901us/step - loss: 0.5488 - accuracy: 0.7318
Epoch 82/100
804/804 [==============================] - 1s 988us/step - loss: 0.5488 - accuracy: 0.7316
Epoch 83/100
804/804 [==============================] - 1s 909us/step - loss: 0.5490 - accuracy: 0.7315
Epoch 84/100
804/804 [==============================] - 1s 1000us/step - loss: 0.5491 - accuracy: 0.7313
Epoch 85/100
804/804 [==============================] - 1s 986us/step - loss: 0.5488 - accuracy: 0.7315
Epoch 86/100
804/804 [==============================] - 1s 920us/step - loss: 0.5486 - accuracy: 0.7318
Epoch 87/100
804/804 [==============================] - 1s 985us/step - loss: 0.5487 - accuracy: 0.7316
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7313
Epoch 89/100
804/804 [==============================] - 1s 969us/step - loss: 0.5488 - accuracy: 0.7317
Epoch 90/100
804/804 [==============================] - 1s 916us/step - loss: 0.5482 - accuracy: 0.7320
Epoch 91/100
804/804 [==============================] - 1s 911us/step - loss: 0.5489 - accuracy: 0.7317
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7315
Epoch 93/100
804/804 [==============================] - 1s 988us/step - loss: 0.5486 - accuracy: 0.7314
Epoch 94/100
804/804 [==============================] - 1s 963us/step - loss: 0.5487 - accuracy: 0.7315
Epoch 95/100
804/804 [==============================] - 1s 977us/step - loss: 0.5488 - accuracy: 0.7317
Epoch 96/100
804/804 [==============================] - 1s 956us/step - loss: 0.5487 - accuracy: 0.7312
Epoch 97/100
804/804 [==============================] - 1s 939us/step - loss: 0.5486 - accuracy: 0.7315
Epoch 98/100
804/804 [==============================] - 1s 975us/step - loss: 0.5487 - accuracy: 0.7316
Epoch 99/100
804/804 [==============================] - 1s 919us/step - loss: 0.5484 - accuracy: 0.7317
Epoch 100/100
804/804 [==============================] - 1s 912us/step - loss: 0.5487 - accuracy: 0.7315

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_3.evaluate(X_test_scaled_2,y_test_2,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5559 - accuracy: 0.7290 - 262ms/epoch - 979us/step
Loss: 0.5559197068214417, Accuracy: 0.7289795875549316

In [29]:
# Export our model to HDF5 file
nn_3.save('AlphabetSoupCharity_Optimization.h5', save_format = 'h5')

In [30]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(random_state=1)
clf.fit(X_train_2, y_train_2)
clf.score(X_test_2, y_test_2)

0.7097376093294461